Source: ros-bouncy-ament-index-python
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-bouncy-ament-flake8, ros-bouncy-ament-pep257, ros-bouncy-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-bouncy-ament-index-python
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-bouncy-ros-workspace
Description: Python API to access the ament resource index.
